h1 {color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1em;}

h2 {color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 1em;}
    
section {margin-bottom: 7em;}
    
p { font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background: #2B3C42;
    font-size: larger;
    font-weight: bold;
    margin-top: 0em;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    filter: drop-shadow(12px 12px 6px rgb(53, 53, 53));}

.activeMessage {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    background: #2B3C42;
    filter: drop-shadow(12px 12px 6px rgb(53, 53, 53));}

body {padding: 3em;} 

.flex-container-secretWord {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: row;
    width: 100%;
    gap: 0em;
    padding: 1em;
    margin-bottom: 0em;}

.grid-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 20% 80% ; 
    background-color: #d8d8d8;
    padding: 3em; 
    column-gap: 2em;
    row-gap: 1em;
    filter: drop-shadow(12px 12px 10px #5C5C5C);
    text-align: center;}

.grid-container-keyboard {
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr; /* 3 row */
    background-color: #d8d8d8;
    gap: 0em;
    padding: 1em; 
    /* padding-left: 0em; */
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    filter: drop-shadow(12px 12px 10px #5C5C5C);}

.flex-container-keyboard-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    }

.iskey{
    cursor: pointer;
    transition: all 0.2s;}

.pressed {
    filter: none}
    
.hangmanFrame {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;}
    
img {
    max-width: 100%;
    max-height: 100%;}

.guessed {
    background-color: green;
    filter: none;}

.wrong {
    background-color: red;}

@media all and (pointer:none) , (pointer:coarse) {
    body {
        padding: 0.3em;
    } 

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        padding: 0.5em;
        border-radius: 10px;
    }
    .grid-container {
        gap: 0.5em;
        padding: 0.5em;
        column-gap: 0.5em;
        row-gap: 0.5em;
        padding-left: 1em; 
        border-radius: 2px;
        display: grid;
        text-align: center;
    }
   
    h2 {font-size: large;}

    p {margin-top: 0em;
        padding: 0.6em;
        font-size: small;
        border-radius: 7px;
        border-width: 2px; }

    section {margin-bottom: 1em;}

    .flex-container-keyboard-line {
            padding: 0em;
            }
   
                    
} 